.btn {
  color: white;
  background-color: black;
  width: 50vh;
  border-radius: 1rem;
  border-color: black;
  padding: 1rem 0;
  font-size: large;
}

.btn:hover{
  color: black;
  background-color: white;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  max-width: 500px;
}

.text-center{
  text-align: center;
}